#about{
    background: rgb(201, 247, 245);
}


.about-position{
    padding: 1rem;
    color: rgba(20, 255, 138, 0.997);
    font-weight: 900;
}

#about-robot{
    height: 120%;
    opacity: 4;
}

p{
    font-size: 1.5rem;
    color: #001133;
    backdrop-filter: blur(2px);
    font-weight: 500;
    opacity: 50;
}
