/* MAIN BACKGROUND */
#about {
    background: rgb(209, 211, 221);
}

.about-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
    width: 100%;
    height: 100%;
}

#about-robot {
    width: 40%;
    height: 100%;
    min-height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
}

.about-content {
    width: 50%;
    backdrop-filter: blur(2px);
}

.about-position {
    color: #598bff;
    font-weight: 900;
    margin-bottom: 1rem;
}

.about-content p {
    font-size: 1.3rem;
    color: #0c1655;
    font-weight: 500;
    margin-bottom: 1rem;
}


@media (max-width: 768px) {
    #about-robot {
        width: 60%;
    }

    .about-content {
        width: 90%;
    }
}

@media (max-width:500px) {

    #about {
        position: relative;
        overflow: hidden;
    }

    .about-wrapper {
        position: relative;
        display: block;
        text-align: center;
        padding: 1rem;
    }

    #about-robot {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        opacity: 0.9; 
        z-index: 1;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
    }

    .about-content {
        position: relative;
        top: 10%;
        z-index: 2;
        width: 100% !important;
        backdrop-filter: blur(2px);
    }

    .about-content p {
        color: #1a166c;
        font-size: 1.2rem;
    }
}




@media (max-width: 376px) {

    .about-content p {
        font-size: 1.2rem !important;
    }
}
