#about{
    background: white;
}


.about-position{
    padding: 1rem;
    margin-bottom: 2rem;
    color: #bcccec;
    font-weight: 900;
}

#about-robot{
    height: 100%;
    opacity: 4;
}

p{
    font-size: 1.5rem;
    color: #000000;
    backdrop-filter: blur(2px);
    font-weight: 500;
    opacity: 50;
}
