#about{
    background: rgb(201, 247, 245);
}


.about-position{
    padding: 1rem;
    margin-bottom: 3rem;
    color: rgba(0, 255, 242, 0.997);
    font-weight: 900;
}

#about-robot{
    height: 110%;
    opacity: 4;
}

p{
    font-size: 1.5rem;
    color: #000000;
    backdrop-filter: blur(2px);
    font-weight: 500;
    opacity: 50;
}
