#about{
    background: rgb(201, 247, 245);
}

.about-position{
    padding: 1rem;
    color: rgba(244, 246, 248, 0.997);
}

#about-robot{
    height: 75vh;
    opacity: 4;
}

p{
    font-size: 1.5rem;
    color: rgb(5, 96, 253);
    font-weight: 500;
    opacity: 50;
}
