.section{
    height: 80vh;
}

.h2-styling{
    font-size: 1.7rem;
    font-weight: 900;
}

.align-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.other-section{
    position: relative;
    height: 100%;
    overflow: hidden;
}


.section-content{
    position: absolute;
    align-items: center;
    text-align: center;
    background-color: transparent;
    z-index: 1;
}


.text{
    font-size: 100%;
    text-align: center;
    line-height: 1.5;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgba(7, 3, 32, 0.93);
    color: rgb(208, 204, 223);
    padding: 0 0 1rem 0;
}