#user{
    display: none;
}
#about{
    display: none;
}
#contact{
    display: none;
}

.section{
    height: 80vh;
}

.h2-styling{
    font-size: 1.7rem;
    font-weight: 900;
}

.align-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.other-section{
    position: relative;
    height: 100%;
    overflow: hidden;
}


.section-content{
    position: absolute;
    align-items: center;
    text-align: center;
    background-color: transparent;
    z-index: 1;
}


