.h2-styling{
    font-size: 1.7rem;
}

.align-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section{
    display: none;
}

.other-section{
    position: relative;
    width: 100%;
    height: 72vh;
    overflow: hidden;
}

.background-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

.section-content{
    position: absolute;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(3px);
    background-color: transparent;
    max-width: 700px;
    z-index: 1;
}


