.h2-styling{
    font-size: 1.7rem;
    font-weight: 900;
}

.align-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section{
    display: none;
}

.other-section{
    position: relative;
    width: 100%;
    height: 72vh;
    overflow: hidden;
}


.section-content{
    position: absolute;
    align-items: center;
    text-align: center;
    background-color: transparent;
    max-width: 700px;
    z-index: 1;
}


