#user{
    display: none;
}
#about{
    display: none;
}
#contact{
    display: none;
}

.h2-styling{
    font-size: 1.7rem;
    font-weight: 900;
}

.align-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


