.button-hover a{
    text-decoration: none;
	color: #ffffff;
    font-family:geometric sans-serif;
    font-weight: 900;
    transition: transform 1s ease;
    margin-left: 0.7rem;
    letter-spacing: 0.7px;
    filter: brightness(500%);
	cursor: pointer;
}

.button-hover a:hover{
    transform: translateY(-0.5px);
	color: #26287e;
}

.button-size{
    font-size: 1rem;
}