.button-hover a{
    text-decoration: none;
	color: #ffffff;
    font-family:geometric sans-serif;
    font-weight: bolder;
    transition: transform 2s ease;
    margin-left: 0.7rem;
    letter-spacing: 0.7px;
    filter: brightness(500%);
	cursor: pointer;
}

.button-hover a:hover{
    transform: translateY(-0.3px);
	color: #292a7d;
}

.button-size{
    font-size: 1.1rem;
}