.button-hover .link{
    text-decoration: none;
	color: #ffffff;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
    transition: transform 0.1s;
    margin-left: 0.7rem;
    letter-spacing: 0.7px;
    filter: brightness(500%);
	cursor: pointer;
}

.button-hover .link:hover{
	color: #26287e;
    transform: translateY(-0.5px);
}

.button-hover-floating{
    font-size: 1rem;
}