.codespace{
    display: none;
    padding: 1rem !important;
    height: auto;
    background: black;
}

.codespace header{
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    background-color: #c7c8dc;
    z-index: 10;
}

.codespace::-webkit-scrollbar{
    display: none;
}


.cm-editor{
    height: 57vh;
    border-radius: 10px;
    font-size: large;
}

.output-section{
    height: 30vh;
    margin-bottom: 3rem;
}

.outputarea{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    font-size: 170%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(167, 245, 249);
    white-space: pre-wrap;
    box-sizing: border-box;
}

.output-section h4{
    padding: 0.7rem;
    color: rgb(255, 255, 255);
}

.codespace h3{
    color: rgb(81, 98, 153);
}

.display-play{
    font-size: 1.5rem;
    font-weight: bolder;
    color: rgb(79, 16, 156);
}
