.codespace{
    display: none;
    height: 100%;
}

.codespace header{
    border-radius: 0.5rem;
    margin: 1rem 1rem 0 1rem;
    padding: 1rem;
    background-color: #c7c8dc;
}


.cm-editor{
    height: 65vh;
    border-radius: 10px;
    margin: 1rem;
}

.output-section{
    height: 35vh;
}

.output-section textarea{
    height: 29vh;
    width: 98%;
    margin: 1rem;
    border: 1px solid rgb(231, 143, 143);
}

.output-section h4{
    padding-left: 1rem;
    color: red;
}

.fa-solid{
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
}
