

#contact h2{
    color: #528cff;
    padding: 1rem;
}

#contact .section-content{
    border-radius: 5px;
}

#contact img{
    height: 140%;
    background-size: contain;
}


form{
    width: 400px;
    border: 1px solid #20095e;
    border-radius: 10px;
    box-shadow: 5px 5px 135px rgb(0, 0, 0,0.4);
    padding-top: 3rem;
}


form input,textarea{
    min-width: 80%;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    border: 2px solid #15015B;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    background: rgba(55, 2, 2, 0);
    opacity: 5;
}

form ::placeholder{
    color: rgb(4, 23, 18);
    font-size: larger;
}

form button{
    padding: 0.7rem;
    margin: 1rem;
    border: none;
    color: aliceblue;
    background: #15015B;
    border-radius: 5px;
    transition: transform 0.1s;
}

form button:hover{
    color: white;
    background: #f33131;
    transform: translateY(-2px);
}

#contact-robot{
    height: 110%;
    opacity: 1;
}