

#contact h2{
    color: #15015B;
    padding: 1rem;
}


form{
    width: 400px;
    border: 1px solid #5031a6;
    border-radius: 10px;
    padding-top: 3rem;
}


form input,textarea{
    min-width: 80%;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 2px solid rgb(130, 175, 238);
    border-radius: 5px;
    color: rgb(203, 8, 8);
    font-size: 1rem;
    background: transparent;
    opacity: 1;
}

form input,textarea::before{
    color: aliceblue;
}

form button{
    padding: 0.7rem;
    margin: 1rem;
    border: none;
    color: aliceblue;
    background: #15015B;
    border-radius: 5px;
    transition: transform 0.1s;
}

form button:hover{
    color: white;
    background: #f33131;
    transform: translateY(-2px);
}

#contact-robot{
    height: 70vh;
}