#contact{
    background: white;
}

.contact-section{
    position: absolute;
    min-width: 400px;
    border: 1px solid blue;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    padding: 1rem 2rem;
}

#contact h2{
    margin: 1rem;
    color: #003399;
}




form input,textarea{
    padding: 0.5rem;
    margin: 0.5rem;
    width: 90%;
    border-radius: 5px;
    border: 2px solid #0257cf;
    color: rgb(0, 0, 0);
    background: rgba(55, 2, 2, 0);
    opacity: 5;
}

form ::placeholder{
    color: rgb(0, 48, 160);
    font-size: larger;
}

form button{
    padding: 0.7rem;
    margin: 1rem;
    border: none;
    color: aliceblue;
    background: #15015B;
    border-radius: 5px;
    transition: transform 0.1s;
}

form button:hover{
    color: white;
    background: #f33131;
    transform: translateY(-2px);
}

#contact-robot{
    display: inline-block;
    width: 50%;
}

@media (max-width:768px) {
    #contact-robot{
        width: 80%;
    }

    .contact-section{
        height: 60%;
    }
}



@media (max-width:580px) {
    .contact-section{
        height: 60%;
    }
    #contact-robot{
        width: 100%;
    }

    form input,textarea{
        font-size: 0.8rem;
    }
}

@media (max-width:480px) {
    form{
        height: 200px;
    }

    form input,textarea{
        font-size: 0.8rem;
    }
}