#homepage{
    background: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    scrollbar-width: none;
}

#homepage::-webkit-scrollbar{
    display: none;
}

.second{
    padding: 0 1rem;
}

#other-animation1{
    display: inline-block;
    width: 37%;
}

.welcome {
    color: darkslateblue;
    font-family:monospace;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.welcomep {
    color: rgb(9, 12, 11);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 850px;
    margin: auto;
    line-height: 1.4;
    font-size: 1.3rem;
}


.features {
    display: inline-block;
    padding: 1rem;
}


.card {
    border: none;
    padding: 1rem;
    transition: all 0.5s ease cubic-bezier(.25,.8,.25,1);
}


.card:hover {
    border-radius: 2px;
    filter: blur(0.0003px);
    background-color: rgb(250, 255, 187);
    transform: scale(1.01);
    box-shadow: 6px 6px 3px 0px rgba(0,0,0,.1);
}

/* .card-list:has(li:hover) li:not(:hover) {
    filter: blur(4px)
  }
   */
.card h3 {
    margin-bottom: 0.5rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
    color: hwb(209 0% 70%);
    font-size: 1.3rem;
}

.card p {
    opacity: 1;
    font-family:monospace;
    font-size: 1.1rem;
    color: rgb(152, 158, 196);
}


@media (max-width: 768px) {
    #other-animation1{
        width: 59%;
    }
    .welcome {
        font-size: 1.5rem;
    }

    .welcomep{
        font-size: 1.1rem;
    }
}

@media (max-width: 580px) {
    #other-animation1{
        width: 75%;
    }

    .welcome {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
    }

    .welcomep{
        font-size: 1rem;
    }
    .card h3{
        font-size: 1.1rem;
    }

    .card p{
        font-size: 0.95rem;
    }
}

@media (max-width: 480px) {

    #other-animation1{
        width: 75%;
    }
    .welcome {
        font-size: 1.1rem;
    }

    .welcomep{
        font-size: 0.8rem;
    }

    .card {
        padding: 1.5rem;
    }

    .card h3{
        font-size: 1rem;
    }

    .card p{
        font-size: 0.85rem;
    }
}

@media (max-width: 376px) {

    .welcomep{
        font-size: 0.9rem;
    }
}
@media (max-width: 340px) {
    .welcome{
        font-size: 1rem;
    }

    .welcomep{
        font-size: 0.8rem;
    }
}

@media (max-width: 320px) {
    .welcome{
        font-size: 1rem;
    }

    .features{
        padding: 0;
    }
}

