#homepage{
    background: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    height: auto;
    overflow: scroll;
    scrollbar-width: none;
}

#homepage::-webkit-scrollbar{
    display: none;
}

.first{
    height: 62vh;
}

.second{
    padding: 0 1rem;
}

#other-animation1{
    height: 100%;
}

.welcome {
    color: darkslateblue;
    font-family:monospace;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.welcomep {
    color: rgb(9, 12, 11);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 850px;
    margin: auto;
    line-height: 1.4;
    font-size: 1.3rem;
}


.features {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding: 0 2rem;
}


.card {
    background: #273c4e;
    padding: 1rem 1.5rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    color: white;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card h3 {
    margin-bottom: 0.5rem;
    font-family: cursive;
    font-weight: 800;
    color: #8dc4ff;
    font-size: 1.3rem;
}

.card p {
    opacity: 0.9;
    font-family:monospace;
    font-size: 1.1rem;
    line-height: 1.3;
    color: rgb(204, 52, 255);
}

.card:hover {
    transform:scale(1.1);
    background: white;
    box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}


@media (max-width: 768px) {
    .welcome {
        font-size: 1.5rem;
    }

    .welcomep{
        font-size: 1.1rem;
    }

    .first{
        height: 45vh !important;
    }
    .hero-img {
        max-width: 95%;
    }
}

@media (max-width: 580px) {
    .first{
        height: 45vh !important;
    }

    .welcome {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
    }

    .welcomep{
        font-size: 1rem;
    }
    .card h3{
        font-size: 1.1rem;
    }

    .card p{
        font-size: 0.95rem;
    }
}

@media (max-width: 480px) {
    .welcome {
        font-size: 1.1rem;
    }

    .welcomep{
        font-size: 0.8rem;
    }

    .card {
        padding: 1.5rem;
    }

    .card h3{
        font-size: 1rem;
    }

    .card p{
        font-size: 0.85rem;
    }
}

@media (max-width: 376px) {
    .first{
        height: 35vh !important;
    }

    .welcomep{
        font-size: 0.9rem;
    }
}
@media (max-width: 340px) {
    .welcome{
        font-size: 1rem;
    }

    .welcomep{
        font-size: 0.8rem;
    }
}

@media (max-width: 320px) {
    .welcome{
        font-size: 1rem;
    }
}

