footer{
    display: flex;
    justify-content: center;
    background-color: rgba(7, 3, 32, 0.93);
    font-size: 1.1rem;
    padding: 1rem 1rem 0.4rem 1rem;
    gap: 1rem;
}

.padding-style h4{
    padding: 2px;
}

.morelanguages{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 0;
    gap: 0 1rem;
}

h3{
    color: #72efff;
    font-size: 120%;
}

.morelanguages a{
    text-decoration: none;
    color: #f5eff0;
    font-size: 100%;
}