footer{
    display: flex;
    justify-content: flex-start;
    background-color: darkslateblue;
    font-size: 1.1rem;
    padding: 1rem;
    gap: 1rem;
}

.padding-style h4{
    padding: 2px;
}

.morelanguages{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color:#696FC7;
    padding: 5px 0;
    gap: 0 1rem;
}