footer{
    display: flex;
    justify-content: center;
    background-color: rgba(7, 3, 32, 0.93);
    font-size: 1.1rem;
    padding: 1rem 1rem 0.4rem 1rem;
    gap: 1rem;
}

.padding-style h4{
    padding: 2px;
}

.morelanguages{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 0;
    gap: 0 3rem;
}

h3{
    color: #cef6fb;
    font-size: 1.1em;
    font-weight: 700;
}

.morelanguages a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f5eff0;
}


.text{
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.5;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(208, 204, 223);
    padding: 0 0 1rem 0;
}

@media (max-width:580px) {
    h3{
        font-size: 1rem;
    }
}
@media (max-width:340px) {
    h3{
        font-size: 0.7rem;
    }
}