footer{
    display: flex;
    justify-content: center;
    background-color: rgba(7, 3, 32, 0.93);
    font-size: 1.1rem;
    padding: 1rem;
    gap: 1rem;
}

.more{
    display: flex;
    flex-direction: column;
}

.padding-style h4{
    padding: 2px;
}

.morelanguages{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 0;
    gap: 0 1rem;
}

h3{
    color: #ffffff;
    filter: brightness(400%);
    font-size: 1.1rem;
}

a{
    text-decoration: none;
}

.morelanguages a{
    text-decoration: none;
    color: #03fcb9;
    font-size: 0.9rem;
}


.fotter-button{
    font-size: 1rem;
    font-weight: 800;
}