header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d0f2f;
    padding: 1rem;
    position: relative;
}


/* user section customization */

.user{
    display: none;
}

.user.active{
    display: flex;
}

/* dropdown menu for select languages */

.menu{
    display: flex;
    flex-direction: row;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-item{
    display: none;
    position: absolute;
    background-color: #080b2f;
    padding: 1rem 0 0 0;
    border-end-end-radius: 10px;
    z-index: 11;
}

.dropdown-item a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    transition: transform 0.1s ease;
}

.dropdown-item a:hover{
    background-color: rgb(255, 255, 255);
    color: #0606fa;
    border-end-end-radius: 10px;
    transform: translateY(-0.1px);
    font-weight: 600;
}

.dropdown:hover .dropdown-item{
    display: block;
}
