@media (max-width:769px) {
    .button-hover-floating{
        font-size: 1.2rem !important;
    }

    .dropdown-item a{
        font-size: 1.3rem;
    }
    .cm-editor{
        height: 55vh !important;
    }

    .output-section{
        height: 23vh !important;
    }
    
    form{
        width: 60vw;
    }

    .section-content{
        max-width: 450px !important;
    }

    .h2-styling{
        font-size: 1.5rem;
    }    

    p{
        font-size: 1.1rem;
    }

    h3{
        font-size: 1.1rem !important;
    }
}


@media (max-width:426px) {


    .dropdown-item a{
        font-size: 1rem;
    }
    .button-hover-floating{
        font-size: 1rem !important;
    }

    form{
        width: 75vw;
    }

    .codespace{
        padding: 0;
    }

    .cm-editor{
        height: 58vh !important;
    }

    .output-section{
        height: 20vh !important;
    }

    .output-section textarea{
        width: 95%;
    }

    .section{
        padding: 0.5rem !important;
    }

    .section-content{
        max-width: 380px !important;
    }

    .h2-styling{
        font-size: 1.6rem !important;
    }
    

    p{
        font-size: 1.3rem !important;
    }
}


@media (max-width:376px){


    .dropdown-item a{
        font-size: 0.8rem;
    }
    .button-hover-floating{
        font-size: 0.8rem;
    }

    .output-section{
        height: 20vh !important;
    }

    h2{
        font-size: 1rem !important;
    }

    form{
        width: 75vw;
    }

    .section{
        padding: 0.3rem !important;
    }

    .section-content{
        max-width: 350px !important;
    }

    p{
        font-size: 1.3rem !important;
    }
}

@media (max-width:321px) {

    .dropdown-item a{
        font-size: 0.7rem;
    }

    .button-hover-floating{
        font-size: 0.7rem !important;
    }
    footer{
        font-size: 0.7rem;
        padding: 0.5rem;
        gap: 0.7rem;
    }

    h2{
        font-size: 0.8rem;
    }

    form{
        width: 85vw !important;
    }

    .section-content{
        max-width: 330px !important;
    }

    p{
        font-size: 1.1rem !important;
    }
}

