@media (max-width:768px) {

    .button-hover a{
       margin-left: 0.6rem !important;
    }

    .dropdown-item a{
        font-size: 0.8rem;
    }

    .button-hover-floating{
        font-size: 0.8rem;
    }
    
    .cm-editor{
        height: 55vh !important;
    }

    .output-section{
        height: 80vh !important;
    }
    
    .section{
        height: 65vh !important;
    }
}

@media (max-width:580px) {

    .desktop-view{
        display: none;
    }

    .mobile-view{
        display: block;
    }

    .button-hover a{
        margin-left: 0.6rem !important;
    }

    .dropdown-item a{
        font-size: 0.8rem !important;
    }

    .button-size{
        font-size: 0.9rem !important;
    }

    .first,.second{
        height: 70vh;
    }


}

@media (max-width: 426px) {

    .dropdown-item a{
        font-size: 0.8rem;
    }

    .button-hover a{
        margin-left: 0.5rem !important; 
        letter-spacing: 0.6px !important;
    }

    .codespace{
        padding: 0;
    }

    .cm-editor{
        height: 58vh !important;
    }

    .section{
        padding: 0.5rem !important;
    }

    .h2-styling{
        font-size: 1.6rem !important;
    }

}


@media (max-width:376px){

    header{
        padding-right: 0.5rem;
    }

    .button-hover-floating{
        font-size: 0.6rem !important;
    }

    .dropdown-item a{
        font-size: 0.6rem;
    }
    .output-section{
        height: 20vh !important;
    }

    .section{
        padding: 0.3rem !important;
        height: 50vh !important;
    }
}

@media (max-width:340px) {
    
    header{
        padding-left: 0.5rem;
        padding-right: 0.5rem !important;
    }

    .button-hover a{
        margin-left: 0.3rem !important;
        letter-spacing: 0.4px !important;
        font-size: 0.7rem !important;
    }

    .first,.second{
        height: 50vh;
    }

    footer{
        font-size: 0.7rem;
        padding: 0.5rem;
        gap: 0.7rem;
    }

}


@media (max-width:320px) {
    
    .button-hover a{
        margin-left: 0.3rem !important;
        letter-spacing: 0.4px !important;
        font-size: 0.6rem !important;
    }

    footer{
        font-size: 0.7rem;
        padding: 0.5rem;
        gap: 0.7rem;
    }

}

