@media (max-width:769px) {

    .button-hover a{
       margin-left: 0.6rem !important;
    }

    .dropdown-item a{
        font-size: 1rem;
    }

    .button-hover-floating{
        font-size: 1rem;
    }

    .cm-editor{
        height: 55vh !important;
    }

    .output-section{
        height: 23vh !important;
    }
    
    form{
        width: 60vw;
    }

    .section-content{
        max-width: 450px !important;
    }

    .h2-styling{
        font-size: 1.5rem;
    }    

    p{
        font-size: 1.1rem;
    }

    h3{
        font-size: 1.1rem;
    }
}

@media (max-width:500px) {

    h2{
        font-size: 1.6rem !important;
    }

    .dropdown-item a{
        font-size: 0.8rem !important;
    }

    .button-hover-floating{
        font-size: 0.8rem !important;
    }

    .first,.second{
        height: 70vh;
    }

    .other-section{
        height: 70vh !important;
    }

    form{
        width: 75vw;
    }

    .codespace{
        padding: 0;
    }

    .cm-editor{
        height: 58vh !important;
    }

    .output-section{
        height: 20vh !important;
    }

    .output-section textarea{
        width: 95%;
    }

    .section{
        padding: 0.5rem !important;
    }

    .section-content{
        max-width: 380px !important;
    }

    .h2-styling{
        font-size: 1.6rem !important;
    }
    

    p{
        font-size: 1.3rem !important;
    }
    h3{
        font-size: 1rem;
    }

    .morelanguages a{
        font-size: 0.8rem;
    }
}

@media (max-width: 440px) {

    header{
        padding-right: 0.5rem;
    }

    .dropdown-item a{
        font-size: 0.8rem;
    }

    .button-hover a{
        margin-left: 0.5rem !important; 
        letter-spacing: 0.6px !important;
    }

    .first,.second{
        height: 65vh;
    }

    form{
        width: 75vw;
    }

    .codespace{
        padding: 0;
    }

    .cm-editor{
        height: 58vh !important;
    }

    .output-section{
        height: 20vh !important;
    }

    .output-section textarea{
        width: 95%;
    }

    .section{
        padding: 0.5rem !important;
    }

    .section-content{
        max-width: 380px !important;
    }

    .h2-styling{
        font-size: 1.6rem !important;
    }
    

    p{
        font-size: 1.3rem !important;
    }
}


@media (max-width:376px){

    header{
        padding-right: 0.5rem;
    }
    h2{
        font-size: 1.5rem !important;
    }

    .button-hover-floating{
        font-size: 0.6rem !important;
    }

    .first,.second{
        height: 59vh;
    }

    .dropdown-item a{
        font-size: 0.6rem;
    }
    .output-section{
        height: 20vh !important;
    }


    form{
        width: 75vw;
    }

    .section{
        padding: 0.3rem !important;
    }

    .section-content{
        max-width: 350px !important;
    }

    p{
        font-size: 1.3rem !important;
    }
}

@media (max-width:340px) {
    
    header{
        padding-left: 0.5rem;
        padding-right: 0.5rem !important;
    }

    .button-hover a{
        margin-left: 0.3rem !important;
        letter-spacing: 0.4px !important;
        font-size: 0.7rem !important;
    }

    h2{
        font-size: 1.3rem !important;
    }

    .first,.second{
        height: 50vh;
    }

    footer{
        font-size: 0.7rem;
        padding: 0.5rem;
        gap: 0.7rem;
    }

    form{
        width: 85vw !important;
    }

    .section-content{
        max-width: 330px !important;
    }

    p{
        font-size: 1.1rem !important;
    }

    h3{
        font-size: 0.7rem;
    }

    .morelanguages  a{
        font-size: 0.7rem;
    }
}


@media (max-width:320px) {
    
    .button-hover a{
        margin-left: 0.3rem !important;
        letter-spacing: 0.4px !important;
        font-size: 0.6rem !important;
    }

    h2{
        font-size: 1.3rem !important;
    }

    footer{
        font-size: 0.7rem;
        padding: 0.5rem;
        gap: 0.7rem;
    }

    form{
        width: 85vw !important;
    }

    .section-content{
        max-width: 330px !important;
    }

    p{
        font-size: 1.1rem !important;
    }

    h3{
        font-size: 0.5rem;
    }
}

