@media (max-width:769px) {
    .maincontainer{
        padding: 1rem 4rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr 1fr;
        gap: 1.5rem;
    }

    .cm-editor{
        height: 55vh !important;
    }
    
    form{
        width: 60vw;
    }

    .section-content{
        max-width: 450px !important;
    }

    .h2-styling{
        font-size: 1.5rem;
    }    

    p{
        font-size: 1.1rem;
    }

    h3{
        font-size: 1.1rem !important;
    }
}


@media (max-width:426px) {
    .maincontainer{
        padding: 1rem 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
    }

    form{
        width: 75vw;
    }

    .codespace{
        padding: 0;
    }

    .cm-editor{
        height: 58vh !important;
    }

    .output-section textarea{
        width: 95%;
    }

    .section{
        padding: 0.5rem !important;
    }

    .section-content{
        max-width: 380px !important;
    }

    .h2-styling{
        font-size: 1.6rem !important;
    }
    

    p{
        font-size: 1.3rem !important;
    }
}


@media (max-width:376px){
    .maincontainer{
        display: grid;
        justify-content: center;
        padding: 1rem 0.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0.5rem;
    }

    .button-hover h4, h4 a{
        font-size: 1rem;
    }

    h2{
        font-size: 1rem !important;
    }

    form{
        width: 75vw;
    }

    .section{
        padding: 0.3rem !important;
    }

    .section-content{
        max-width: 350px !important;
    }

    p{
        font-size: 1.3rem !important;
    }
}

@media (max-width:321px) {
    .maincontainer{
        padding: 0.4rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0.5rem;
    }

    footer{
        font-size: 0.7rem;
        padding: 0.5rem;
        gap: 0.7rem;
    }

    h2{
        font-size: 0.8rem;
    }

    form{
        width: 85vw !important;
    }

    .section-content{
        max-width: 330px !important;
    }

    p{
        font-size: 1.1rem !important;
    }
}

