#user{
    background: black;
}

.user-content{
    top: 20%;
}

#lottie-container{
    position: absolute;
    width: 55%;
    top: 15%;
    z-index: 0;
    pointer-events: none;
}


.display-user{
    color: rgb(5, 143, 249);
    font-size: 2rem;
    margin-bottom: 1rem;
}


.user-content h3{
    margin: 0.5rem 0 0.3rem;
    color: rgb(167, 252, 252);
    font-size: 1.5rem;
    font-family:'Courier New', Courier, monospace;
    font-weight: 700;
}
