#user{
    background: rgb(18, 18, 18);
}

.user-content{
    padding: 2rem 0 1rem 0;
    border-radius: 10px;
    border: 2px solid blue;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 20%;
}

#username,#email{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 0 2rem 0.3rem;
}

#lottie-container{
    position: absolute;
    top: 20%;
    width: 60%;
    z-index: 0;
    pointer-events: none;
}


.display-user{
    color: rgb(0, 110, 195);
    font-size: 220%;
    margin-bottom: 2rem;
}

.user-content p{
    color: rgb(251, 251, 251);
    filter: brightness(100%);
    font-size: 1rem;
}


.user-content h3{
    padding-left: 0.5rem;
    color: rgb(25, 255, 251);
    font-family:'Courier New', Courier, monospace;
    font-size: 95%;
    font-weight: 700;
}

.user-content button{
    margin: 1rem;
    padding: 0.5rem;
    background: rgb(0, 43, 76);
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.user-content button:hover{
    background: rgb(255, 139, 232);
    transform: scale(1.1);
    color: rgb(9, 6, 6);
}

@media (max-width:768px) {
    #lottie-container{
        width:78%;
    }
}


@media (max-width:580px) {
    #lottie-container{
        width:100%;
    }
    .user-content p{
        font-size: 1rem !important;
    }
}

@media (max-width:481px) {

    .section{
        height: 60vh !important;
    }
    #lottie-container{
        top: 25%;
        width:100%;
    }
    .user-content p{
        font-size: 1rem !important;
    }

    .user-content h3{
        font-size: 0.9rem !important;
    }
}

@media (max-width:376px) {

    #lottie-container{
        top: 19%;
        width:110%;
    }
    .user-content{
        top: 17%;
    }
}