#user{
    background: rgb(18, 18, 18);
}

.user-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-content{
    padding: 2rem 0 1rem 0;
    border-radius: 10px;
    border: 2px solid blue;
    backdrop-filter: blur(2px);
}

#username,#email{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 2rem;
}

#lottie-container{
    position: absolute;
    top: 5%;
    width: 70%;
    z-index: 0;
    pointer-events: none;
}


.display-user{
    color: rgb(0, 110, 195);
    font-size: 220%;
    margin-bottom: 2rem;
}

.user-content p{
    color: rgb(251, 251, 251);
    filter: brightness(100%);
    font-size: 100%;
}


.user-content h3{
    padding-left: 0.5rem;
    color: rgb(25, 255, 251);
    font-family:'Courier New', Courier, monospace;
    font-size: 95%;
    font-weight: 700;
}

.user-content button{
    margin: 1rem;
    padding: 0.5rem;
    background: rgb(0, 43, 76);
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.user-content button:hover{
    background: rgb(255, 139, 232);
    transform: scale(1.1);
    color: rgb(9, 6, 6);
}