#user{
    background: black;
}

.user-content{
    top: 20%;
}

#lottie-container{
    position: absolute;
    width: 55%;
    top: 15%;
    z-index: 0;
    pointer-events: none;
}


.fa-user{
    color: rgb(5, 143, 249);
    font-size: 4rem;
    margin-bottom: 1rem;
}

.user-content h3{
    margin: 0.5rem 0 0.3rem;
    color: rgb(167, 252, 252);
    font-size: 1.5rem;
    font-family:'Courier New', Courier, monospace;
    font-weight: 700;
}


@media (max-width: 769px) {
    .user-content{
        top: 25% !important;
    }

    .fa-user{
        font-size: 3rem !important;
    }
    #lottie-container{
        width: 75% !important;
        top: 20% !important;
    }
}
@media (max-width: 426px) {
    .user-content{
        top: 17% !important;
    }


    #lottie-container{
        width: 115% !important;
        top: 20% !important;
    }

    .fa-user{
        font-size: 3rem !important;
    }

    .user-content h3{
        font-size: 1rem !important;
    }
}

@media (max-width: 376px) {
    .user-content{
        top: 20% !important;
    }


    #lottie-container{
        width: 115% !important;
        top: 25% !important;
    }

    .user-content h3{
        font-size: 1rem !important;
    }
}
@media (max-width: 321px) {
    .user-content{
        top: 25% !important;
    }


    #lottie-container{
        width: 115% !important;
        top: 30% !important;
    }

    .user-content h3{
        font-size: 0.8rem !important;
    }
}