@import url("../css/layouts/header.css");
@import url("../css/layouts/demo.css");
@import url("../css/layouts/footer.css");
@import url("../css/layouts/about.css");
@import url("../css/layouts/contact.css");
@import url("../css/layouts/share.css");
@import url("../css/layouts/responsive.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background: rgb(240, 233, 233);
}

.button-hover h4,h4 a{
    text-decoration: none;
	color: aliceblue;
    font-family: geometric sans-serif;
    transition: transform 0.1s;
	cursor: pointer;
    padding: 0 0.4rem;
}

.button-hover h4:hover{
	color: #bebfe6;
    transform: translateY(-0.5px);
}

.button-hover h4 a:hover{
	color: #bebfe6;
    transform: translateY(-0.5px);
}

h3{
    color: rgb(16, 16, 194);
    font-family: geometric sans-serif;
    font-size: 1rem;
    font-weight: bolder;
}

.h2-styling{
    padding: 1rem;
    margin: 0.5rem;
    font-family: sans-serif;
    color: #15015B;
}

.align-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.fa-solid{
    font-size: 1.5rem;
    font-weight: bolder;
}


p{
    margin: 0.5rem;
    color: #696FC7;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.section{
    display: none;
    margin: 1rem;
}

.section-content{
    width: 60%;
}

#homepage{
    display: block;
}