@import url("../css/layouts/header.css");
@import url("../css/layouts/demo.css");
@import url("../css/layouts/footer.css");
@import url("../css/layouts/about.css");
@import url("../css/layouts/contact.css");
@import url("../css/layouts/share.css");
@import url("../css/layouts/responsive.css"); 
@import url("../css/layouts/codespace.css");
@import url("../css/layouts/button.css");
@import url("../css/layouts/allsection.css");
@import url("../css/layouts/user.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background: rgb(240, 233, 233);
}


h2{
    font-size: 1.2rem;
    color: rgb(202, 216, 226);
}
