@import url("../css/layouts/header.css");
@import url("../css/layouts/demo.css");
@import url("../css/layouts/footer.css");
@import url("../css/layouts/about.css");
@import url("../css/layouts/contact.css");
@import url("../css/layouts/share.css");
@import url("../css/layouts/responsive.css"); 
@import url("../css/layouts/codespace.css");
@import url("../css/layouts/button.css");
@import url("../css/layouts/allsection.css");
@import url("../css/layouts/user.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    display: none;
}

body{
    width: 100%;
    background: rgb(240, 233, 233);
    overflow-x: hidden;
    scrollbar-width: none;
}


h2{
    color: rgb(188, 226, 226);
    font-size: 2rem;
    font-weight: 900;
    filter: brightness(100%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color: inherit;
    text-decoration: inherit;
}


.floating {
    animation: floating 6s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0px);
    }
}
